In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-02-09 18:41:32,71.9167,114.0833,-9.76,97,40,7.25
1,1,Cape Town,ZA,2022-02-09 18:42:23,-33.9258,18.4232,71.89,75,0,9.22
2,2,Tahoua,NE,2022-02-09 18:46:00,14.8888,5.2692,85.98,6,0,9.22
3,3,Tiksi,RU,2022-02-09 18:46:00,71.6872,128.8694,-12.23,93,100,12.95
4,4,Verkh-Usugli,RU,2022-02-09 18:46:01,52.7000,115.1667,-3.60,100,100,1.19

In [5]:
#6.5.2
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
#6.5.2
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
#6.5.2
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
#6.5.2
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs. locations = [latitude, longitude]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. temperatures = # an array of length equal to the locations array length
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. fig = gmaps.figure()
# Assign the figure variable.
#Gmaps center and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tahoua,NE,2022-02-09 18:46:00,14.8888,5.2692,85.98,6,0,9.22
11,11,Vaini,TO,2022-02-09 18:46:05,-21.2000,-175.2000,78.96,94,20,6.91
19,19,Caxito,AO,2022-02-09 18:46:09,-8.5785,13.6643,79.45,80,36,5.61
20,20,Madang,PG,2022-02-09 18:46:09,-5.2246,145.7966,76.24,92,97,4.07
26,26,Conde,BR,2022-02-09 18:46:11,-7.2597,-34.9075,85.46,62,40,10.36
29,29,Yulara,AU,2022-02-09 18:46:12,-25.2406,130.9889,75.04,53,0,5.75
31,31,Rikitea,PF,2022-02-09 18:41:47,-23.1203,-134.9692,78.78,67,0,16.49
36,36,Hithadhoo,MV,2022-02-09 18:46:16,-0.6000,73.0833,82.69,71,13,13.38
45,45,Mindelo,CV,2022-02-09 18:46:19,16.8901,-24.9804,80.15,41,0,16.11
51,51,Cap Malheureux,MU,2022-02-09 18:46:21,-19.9842,57.6142,77.49,75,4,1.99

In [14]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2           Tahoua      NE     85.98  14.8888    5.2692
11           Vaini      TO     78.96 -21.2000 -175.2000
19          Caxito      AO     79.45  -8.5785   13.6643
20          Madang      PG     76.24  -5.2246  145.7966
26           Conde      BR     85.46  -7.2597  -34.9075
29          Yulara      AU     75.04 -25.2406  130.9889
31         Rikitea      PF     78.78 -23.1203 -134.9692
36       Hithadhoo      MV     82.69  -0.6000   73.0833
45         Mindelo      CV     80.15  16.8901  -24.9804
51  Cap Malheureux      MU     77.49 -19.9842   57.6142

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tahoua,NE,85.98,14.8888,5.2692,Bungalows Guesthouse
11,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
19,Caxito,AO,79.45,-8.5785,13.6643,
20,Madang,PG,76.24,-5.2246,145.7966,Comfort Inn Hotel
26,Conde,BR,85.46,-7.2597,-34.9075,Pousada Beija Flor
...,...,...,...,...,...,...
542,Mersing,MY,75.11,2.4312,103.8405,Timotel Hotel
548,Weligama,LK,76.50,5.9667,80.4167,Weligama Bay Resort
550,Tabatinga,BR,84.29,-4.2525,-69.9381,Hotel Amazon Bed and Breakfast / Hotel Amazon B&B
552,Kidal,ML,75.67,18.4411,1.4078,
558,Indramayu,ID,77.72,-6.3264,108.3200,Grand Trisula Hotel

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))