## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(os.path.join("..","Weather_Database","WeatherPy_database.csv"))
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gweru,ZW,-19.4500,29.8167,77.50,45,62,7.85,broken clouds
1,1,New Norfolk,AU,-42.7826,147.0587,64.65,36,46,3.00,scattered clouds
2,2,Jamestown,US,42.0970,-79.2353,31.32,80,100,13.80,overcast clouds
3,3,Mar Del Plata,AR,-38.0023,-57.5575,70.09,94,100,3.00,overcast clouds
4,4,Khatanga,RU,71.9667,102.5000,-0.35,84,95,13.78,overcast clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gweru,ZW,-19.4500,29.8167,77.50,45,62,7.85,broken clouds
9,9,Hermanus,ZA,-34.4187,19.2345,75.90,61,0,2.55,clear sky
11,11,Poum,NC,-20.2333,164.0167,81.12,84,100,18.81,overcast clouds
14,14,Cape Town,ZA,-33.9258,18.4232,76.12,57,0,1.99,clear sky
15,15,Carnarvon,AU,-24.8667,113.6333,84.27,70,40,13.80,scattered clouds
17,17,Port Blair,IN,11.6667,92.7500,86.04,66,40,9.22,scattered clouds
18,18,Avarua,CK,-21.2078,-159.7750,79.56,78,6,13.47,clear sky
29,29,Rikitea,PF,-23.1203,-134.9692,79.11,73,10,17.72,light rain
31,31,Brebes,ID,-6.8706,109.0369,84.49,69,98,12.01,overcast clouds
32,32,Butaritari,KI,3.0707,172.7902,82.08,79,23,17.85,light rain

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gweru,ZW,-19.4500,29.8167,77.50,45,62,7.85,broken clouds
9,9,Hermanus,ZA,-34.4187,19.2345,75.90,61,0,2.55,clear sky
11,11,Poum,NC,-20.2333,164.0167,81.12,84,100,18.81,overcast clouds
14,14,Cape Town,ZA,-33.9258,18.4232,76.12,57,0,1.99,clear sky
15,15,Carnarvon,AU,-24.8667,113.6333,84.27,70,40,13.80,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
646,646,Bonthe,SL,7.5264,-12.5050,75.81,92,17,3.91,few clouds
658,658,Maridi,SS,4.9158,29.4742,87.94,20,100,9.33,overcast clouds
660,660,Cayenne,GF,4.9333,-52.3333,77.09,88,100,5.75,overcast clouds
670,670,Salinopolis,BR,-0.6136,-47.3561,76.14,91,100,7.18,overcast clouds
671,671,Tagusao,PH,9.1924,117.8141,83.08,74,100,12.01,overcast clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gweru,ZW,77.50,broken clouds,-19.4500,29.8167,
9,Hermanus,ZA,75.90,clear sky,-34.4187,19.2345,
11,Poum,NC,81.12,overcast clouds,-20.2333,164.0167,
14,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,
15,Carnarvon,AU,84.27,scattered clouds,-24.8667,113.6333,
17,Port Blair,IN,86.04,scattered clouds,11.6667,92.7500,
18,Avarua,CK,79.56,clear sky,-21.2078,-159.7750,
29,Rikitea,PF,79.11,light rain,-23.1203,-134.9692,
31,Brebes,ID,84.49,overcast clouds,-6.8706,109.0369,
32,Butaritari,KI,82.08,light rain,3.0707,172.7902,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('',np.nan, inplace=True)
hotel_df.dropna().head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gweru,ZW,77.50,broken clouds,-19.4500,29.8167,Suskwe Lodges
9,Hermanus,ZA,75.90,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
14,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
15,Carnarvon,AU,84.27,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
17,Port Blair,IN,86.04,scattered clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
18,Avarua,CK,79.56,clear sky,-21.2078,-159.7750,Paradise Inn
29,Rikitea,PF,79.11,light rain,-23.1203,-134.9692,People ThankYou
31,Brebes,ID,84.49,overcast clouds,-6.8706,109.0369,Hotel Grand Dian Brebes
32,Butaritari,KI,82.08,light rain,3.0707,172.7902,Isles Sunset Lodge
36,Manaus,BR,75.70,scattered clouds,-3.1019,-60.0250,Manaus Hotéis Millennium

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))